<div class="intoro">
  <h1>診断結果</h1>
  <p>あなたの絶叫耐性レベルは...</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>スチール・ドラゴン2000（ナガシマスパーランド）　レベル</h6>
    <p>世界最長のコースター！高さ、速さも日本一！</p>
    <p>もはや恐いものなし！</p>
  <% when ["1", "1", "1", "2"] %>
    <h6>ザ・フライング・ダイナソー（ユニバーサル・スタジオ・ジャパン）　レベル</h6>
    <p>プテラノドンに掴まれながら、空を飛び回ろう！</p>
    <p>うつ伏せになっていることで、浮遊感が感じにくいらしい？</p>
  <% when ["1", "1", "2", "1"] %>
    <h6>サンダードルフィン（東京ドームシティ）　レベル</h6>
    <p>東京の街を爽快に駆け抜けるアトラクション！</p>
    <p>回転がなく、三半規管が弱い人にもおすすめ！</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>センター・オブ・ジ・アース（東京ディズニーシー）　レベル</h6>
    <p>急激なスピードアップ＆急上昇！</p>
    <p>浮遊感は一瞬だけ！</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>白鯨（ナガシマスパーランド）　レベル</h6>
    <p>国内屈指の絶叫系アトラクション！</p>
    <p>コースが真っ白で美しい！</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>レイジング・スピリッツ（東京ディズニーシー）　レベル</h6>
    <p>ぐるっと１回転すること特徴のコースター</p>
    <p>高さはあまりなく、絶叫系が苦手な人も挑戦しやすい！</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>スペース・マウンテン（東京ディズニーランド）　レベル</h6>
    <p>暗闇の中を駆け抜ける！</p>
    <p>周りが見えないからこそ恐くないかも！？</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>ZOKKON（富士急ハイランド）　レベル　</h6>
    <p>バイク型のライドに乗って駆け抜けるアトラクション</p>
    <p>回転や落差が少なく、スピード感による爽快感が存分に味わえる！</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>岐阜バンジー（岐阜県）　レベル</h6>
    <p>国内最大級のバンジージャンプ</p>
    <p>人によってはどんなアトラクションよりも恐いかも！？</p>
  <% when ["2", "1", "1", "2"] %>
    <h6>ビッグサンダー・マウンテン（東京ディズニーランド）　レベル</h6>
    <p>ディズニーランドの代表的アトラクション</p>
    <p>スピード・浮遊感ともに小さく、絶叫系が苦手な人も挑戦しやすい！</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>スプラッシュ・マウンテン（東京ディズニーランド）　レベル</h6>
    <p>ディズニーランドの代表的アトラクション</p>
    <p>高いところからの景色を楽しんじゃおう！</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>観覧車　レベル</h6>
    <p>高いところが大丈夫なあなたは</p>
    <p>観覧車からの素敵な景色とともに、ゆったりとした時間の流れを楽しもう！</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>タワー・オブ・テラー（東京ディズニーシー）　レベル</h6>
    <p>浮遊感MAXのアトラクション</p>
    <p>高さはあるけれど、きれいな景色を目に焼き付けよう！</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>コーヒーカップ　レベル</h6>
    <p>回転に強いあなたは</p>
    <p>コーヒーカップで主導権を握って、ハンドルをガンガン回しちゃおう！</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>ローラーコースター（浅草花やしき）　レベル</h6>
    <p>日本最古のコースター！</p>
    <p>スピード控えめで挑戦しやすい！</p>
  <% when ["2", "2", "2", "2"] %>
    <h2>キャラクターとミート＆グリート　レベル</h2>
    <p>遊園地＝アトラクションだけではない！</p>
    <p>キャラクターとの平和な時間を過ごそう！</p>
  <% end %>

<%= link_to '閉じる', :controller => "tweets", :action => "index" %>

</div>
